<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ============================================================
         PERMISSIONS
         ============================================================ -->

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />


    <!-- ============================================================
         QUERIES
         ============================================================ -->

    <queries>

        <!-- Phone -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>

        <!-- HTTPS -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- Process text -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>

    </queries>


    <!-- ============================================================
         APPLICATION
         ============================================================ -->

    <application
        android:label="aklatna"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- ====================================================
                 FLUTTER NORMAL THEME
                 ==================================================== -->

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />


            <!-- ====================================================
                 NORMAL APP LAUNCH
                 ==================================================== -->

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>


            <!-- ====================================================
                 AKLATNA DEEP LINK
                 
                 aklatna://reset-password
                 ==================================================== -->

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="aklatna"
                    android:host="reset-password" />

            </intent-filter>

        </activity>


        <!-- ========================================================
             FLUTTER EMBEDDING
             ======================================================== -->

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>